.containr{
    width: 100%;
    height: 200px;
    border: 10px solid #0e0a83;
    padding: 10px;
    }
    #post{
    width: 50%;
    height: 100%;
    background: #b90a0a;
    float: right;}
    #sidebar{
    width: 50%;
    height: 100%;
    background: #d66a6a;
    float: left;}
    #chinhvanban{
    color: aqua;
    text-align: center;
    }